<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="miCharacter?.img" class="img-fluid rounded-start" [alt]="miCharacter?.nickname">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{miCharacter?.name}}</h5>
        <ul class="card-text">
          <li>Occupation: {{miCharacter?.occupation}}</li>
          <li>Birthday: {{miCharacter?.birthday}}</li>
          </ul>
          <p class="card-text text-center"><small class="text-muted">{{miCharacter?.status}}</small></p>
          <button class="btn btn-warning w-100" [routerLink]="['/character', miCharacter?.char_id]">More details</button>
      </div>
    </div>
  </div>
</div>
