.logo {
  width: 40px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}

@media only screen and (max-width: 768px) {
    header.d-flex {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    }
  }
